

body {
  background-color: rgb(2, 50, 78);
  text-align: center;
  width: 82vw;
}

h1 {
  color: rgb(255, 255, 255);
  margin-left: 100px;
  font-family: Poppins, "Open Sans";
  font-size: 50px;
  
}

.wrap .list{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.wrap .txt{
  margin-top: 100px;
}

img {
  width: 400px;
  border-color: white;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  max-width: 70%;
  height: auto;
}

p{
  color: white;
}

@media (min-height: 800px) {
  p{
    font-size: 30px;
  }
}

h2{
  color: white;
}

.white {
  color: white;
}